<form [formGroup]="isLogin ? loginForm : registerForm" (submit)="onSubmit()">
  <div class="choose">
    <a (click)="setLogin()">Login</a>
    |
    <a (click)="setSignup()">Signup</a>
  </div>
  @if (isLogin) {
  <label for="email">Email</label>
  <input
    email
    required
    name="email"
    placeholder="Email"
    formControlName="email"
    #email
  />
  <span
    *ngIf="loginForm.controls['email'].errors?.['required']"
    class="errorMsg"
  >
    Email is required.</span
  >

  <label for="password">Password</label>
  <input
    name="password"
    placeholder="Password"
    type="password"
    formControlName="password"
  />
  <span
    *ngIf="loginForm.controls['password'].pristine || loginForm.controls['password'].errors?.['required']"
    class="errorMsg"
  >
    Password is required.</span
  >

  } @else{

  <label for="name">Name</label>
  <input name="name" type="text" placeholder="Name" formControlName="name" />

  <label for="email">Email</label>
  <input required name="email" placeholder="Email" formControlName="email" />

  <label for="password">Password</label>
  <input
    name="password"
    placeholder="Password"
    type="password"
    formControlName="password"
  />

  <label for="confirmPassword">Confirm Password</label>
  <input
    name="confirmPassword"
    type="password"
    formControlName="confirmPassword"
  />
  }

  <div class="btn">
    <button class="submit" type="submit">
      {{ isLogin ? "Login" : "Submit" }}
    </button>
    <button class="back"><a routerLink="/">Voltar</a></button>
  </div>
</form>
